<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <section name="RazorCommand" type="ArtOfNet.RazorTemplateCommand.Configuration.RazorCommandConfigurationSection, ArtOfNet.RazorTemplateCommand.Configuration"/>
    </configSections>
    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <targets>
            <target name="logfile" xsi:type="File" fileName="rtc.log" />
            <target name="console" xsi:type="ColoredConsole" />
        </targets>

        <rules>
            <!--
                uncomment rules to activate these logs, or add your own
            <logger name="*" minlevel="Trace" writeTo="logfile" />
            <logger name="*" minlevel="Info" writeTo="console" />-->
        </rules>
    </nlog>
    <RazorCommand>
        <IncludedAssemblies>
            <add Name="System.dll"/>
            <add Name="System.Core.dll"/>
            <add Name="System.Data.dll"/>
            <add Name="Microsoft.CSharp.dll"/>
        </IncludedAssemblies>
        <Properties>
            <add Name="DefaultTempFolder" Value=".\TempGenerated" />
            <add Name="defaultBaseClass" Value="AbstractTemplateBase" />
            <add Name="defaultClassName" Value="templateGenerated" />
            <add Name="defaultNamespace" Value="TemplateOutput" />
        </Properties>
    </RazorCommand>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
